@import 'typography';

:root {
  --dark: #0A1F38;
  --dark-middle: #1B2F46;
  --dark-light: #2F4056;
  --gray: #9DA5AF;
  --green-dark: #819400;
  --green-middle: #96AB0D;
  --green: #A5BB0C;
  --green-light: #B1C909;
  --white: #FFFFFF;
}

* {
  font-family: Montserrat;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  background: var(--dark);
}

button, input, textarea {
  border: none;

  &:focus-visible {
    outline-width: 0;
  }
}

input::placeholder, textarea::placeholder {
  @extend %text-small;
  overflow: hidden;
  color: var(--gray);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
}


%input-shared {
  height: 72px;
  align-items: center;
  align-self: stretch;
  border-radius: 36px;
  background: var(--white);
  border: 2px solid var(--white);
  padding-block: 0;
}


%textarea-shared {
  resize: none;
  height: 220px;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 36px;
  background: var(--white);
  border: 2px solid var(--white);
  padding-block: 0;
}


%link {
  @extend %text-small;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}





