@import '../styles/typography.scss';

:root {
  --dark: #0A1F38;
  --dark-middle: #1B2F46;
  --dark-light: #2F4056;
  --gray: #9DA5AF;
  --green-dark: #819400;
  --green-middle: #96AB0D;
  --green: #A5BB0C;
  --green-light: #B1C909;
  --white: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  background: var(--dark);
  font-family: Montserrat;
}

button, input {
  border: none;

  &:focus-visible {
    outline-width: 0;
  }
}

input::placeholder {
  @extend %text-small;
  overflow: hidden;
  color: var(--gray);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
}

%input-shared {
  height: 72px;
  align-items: center;
  align-self: stretch;
  border-radius: 36px;
  background: var(--white);
  border: 2px solid var(--white);
  padding-block: 0;
}



%textarea-shared {
  resize: none;
  display: flex;
  height: 280px;
  align-items: flex-start;
  gap: var(--0, 0px);
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 36px;
  background: var(--white);
  border: 2px solid var(--white);
}




textarea {
  @extend %textarea-shared;

  &:hover {
    @extend %textarea-shared;
    border: 2px solid var(--green-light, #B1C909);
  }

  &:active {
    @extend %textarea-shared;
    border: 2px solid var(--green-light);
  }
}



