:root {
  --dark: #0A1F38;
  --dark-middle: #1B2F46;
  --dark-light: #2F4056;
  --gray: #9DA5AF;
  --green-dark: #819400;
  --green-middle: #96AB0D;
  --green: #A5BB0C;
  --green-light: #B1C909;
  --white: #FFFFFF;
}

body {
  background: var(--dark);
  font-family: Montserrat;
}

input {
  display: flex;
  height: 72px;
  padding: var(--0, 0px) var(--16, 16px);
  align-items: center;
  gap: var(--0, 0px);
  align-self: stretch;
  border-radius: 36px;
  background: var(--white);
}

input:hover {
  display: flex;
  height: 72px;
  padding: var(--0, 0px) var(--16, 16px);
  align-items: center;
  gap: var(--0, 0px);
  align-self: stretch;
  border-radius: 36px;
  border: 2px solid var(--green-light);
  background: var(--white);
}

input:active {
  display: flex;
  height: 72px;
  padding: var(--0, 0px) var(--16, 16px);
  align-items: center;
  gap: var(--0, 0px);
  align-self: stretch;
  border-radius: 36px;
  border: 2px solid var(--green-light);
  background: var(--white);
}

textarea {
  resize: none;
  display: flex;
  width: 678px;
  height: 280px;
  padding: var(--16, 16px);
  align-items: flex-start;
  gap: var(--0, 0px);
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 36px;
  background: var(--white, #FFF);
}

textarea:hover {
  resize: none;
  display: flex;
  height: 280px;
  width: 678px;
  padding: var(--16, 16px);
  align-items: flex-start;
  gap: var(--0, 0px);
  align-self: stretch;
  border-radius: 36px;
  border: 2px solid var(--green-light, #B1C909);
  background: var(--white, #FFF);
}

textarea:active {
  resize: none;
  display: flex;
  height: 280px;
  width: 678px;
  padding: var(--16, 16px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--0, 0px);
  align-self: stretch;
  border-radius: 36px;
  border: 2px solid var(--green-light);
  background: var(--white);
}

%button-enter-shared {
  display: inline-flex;
  width: 144px;
  height: var(--56, 56px);
  padding: var(--0, 0px) var(--24, 24px);
  border-radius: 32px;
  align-items: center;
  gap: var(--12, 12px);
  flex-shrink: 0;
}

.button-enter{
  @extend %button-enter-shared;
  background: var(--green-light);
}

.button-enter:disabled {
  @extend %button-enter-shared;
  background: var(--gray);
}

.button-enter:hover {
  @extend %button-enter-shared;
  background: var(--green-middle);
}

.button-enter:active {
  @extend %button-enter-shared;
  background: var(--green-dark);
}

.button-round {
  display: flex;
  width: var(--56, 56px);
  height: var(--56, 56px);
  padding: var(--0, 0px) var(--24, 24px);
  justify-content: center;
  align-items: center;
  gap: var(--12, 12px);
  flex-shrink: 0;
  border-radius: 32px;
  background: var(--green-light)
}

.button-round:disabled {
  display: flex;
  width: var(--56, 56px);
  height: var(--56, 56px);
  padding: var(--0, 0px) var(--24, 24px);
  justify-content: center;
  align-items: center;
  gap: var(--12, 12px);
  flex-shrink: 0;
  border-radius: 32px;
  background: var(--gray);
}

.button-round:hover {
  display: flex;
  width: var(--56, 56px);
  height: var(--56, 56px);
  padding: var(--0, 0px) var(--24, 24px);
  justify-content: center;
  align-items: center;
  gap: var(--12, 12px);
  flex-shrink: 0;
  border-radius: 32px;
  background: var(--green-middle);
}

.button-round:active {
  display: flex;
  width: var(--56, 56px);
  height: var(--56, 56px);
  padding: var(--0, 0px) var(--24, 24px);
  justify-content: center;
  align-items: center;
  gap: var(--12, 12px);
  flex-shrink: 0;
  border-radius: 32px;
  background: var(--green-dark);
}